html { font-family: 'PT Serif', 'Book Antiqua', Georgia, serif;
       font-size: 20px;
       width: 100%;}
body { width: 100%;
       margin: 0;
       margin-bottom: 2em;
       background-color: #fffff8;
       color: #111;
       line-height: 1.7em; }

a { color: #b14646; transition: color 0.5s ease-in; }
a:hover { color: #e16e6e; }

h1,h2,h3 { line-height:1.2em;
	   font-weight: bold;
	   font-size: 1.4em;
	   margin-top: 2.4em;
	   margin-bottom: 1em;
	   color: #333;}
h1 { margin-top: 1em; font-size: 2em;}
h2 { font-size: 1.1em;  }
h3 { font-size: 1.05em; }

ul { width: 90%;
     padding-left: 0.8em;}
li { list-style: none; }
li::before { content: "·";
	     display: inline-block;
	     padding-right: 0.5em;
	     color: #555;}

p { width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;}

#header { font-size: 20px;
    background-color: #222;
	  width: 100%;
	  margin: 0;
	  vertical-align: middle;
	  overflow: visible;
	  height: 50px;
	  /*border-bottom: 1px solid #b9b49f;*/
	  box-shadow: 3px 3px 3px 0px #b1aa9f;
	  position: relative; }

#sitetitle  { float:left;
	      height: 100%;
	      display: block;
	      padding: 0 20px;
	      text-decoration: none;
	      color: #eeeee8;
	      line-height: 50px;}
#sitetitle > img { height: 35px; vertical-align:text-bottom; }
#sitetitle:hover { background-color: #6f5858; }
#nav { margin: 0;
       float: right;
       display: none;
       width: 100%;
       text-align: right;
       background-color: #444;
       box-shadow: 3px 3px 3px 0px #b1aa9f;}

#nav > li { display: block;
	    vertical-align: top;
	    width: 100vw;
	    text-align: center;
	    position: relative;
	    border-bottom: 2px solid #404040;}
#nav > li::before, .navbar > li::before { content: none; }
#nav > li > a, .navbar > li > a { color: #eeeee8;
		   display: block;
		   text-decoration: none;
		   padding: 0;
		   min-height: 50px;
		   line-height: 50px;}

.navbar > li > a { color: #eeeee8; }

.navbar { position: relative;
	  z-index: 9999;
	  width: 100%;
	  background-color: #333;
	  text-align: right;
	  padding-left: 0%;
	  margin: 0;
	  right: 0;
	  overflow: hidden;}

.navbar > li { display: block;
	       list-style: none;
	       width: 100%;
	       height: 100%;
	       padding-left: 0%;
	       padding-right: 0%;
	       text-align: center;
	       border-bottom: 2px solid #303030;}

.navbar > li > a:hover { background-color: #9e8888; }


.content { max-width: 600px;
	   margin-left: auto;
	   margin-right: auto;
	   padding: 0.5em;}

#footer { width: auto;
	    max-width: 80%;
	    padding-left: 0%;
	    padding-right: 10%;
	    margin-left: auto;
	    margin-right: auto; text-align: center; }

#footer > li { display: inline-block;
	       width: 30% }

#footer > li::before { content: ""; }
#liprev { text-align: left; width: 30%; float: left; min-width: 200px; display: inline-block;}
#litop  { text-align: center; width: 30%; float: center; min-width: 200px; display: inline-block;}
#linext { text-align: right; width: 30%; float: right;  min-width: 200px;display: inline-block;}
#liprev a[href='']{ display: none; }
#linext a[href='']{ display: none; }

.articletitle { margin-top: 0.2em;}
.articledate { font-size: 0.8em;
	       color: #232342;
	       margin-right: 0.3em;}
.articleimage { width: 80%; max-width: 500px; display: block; margin: auto; }
.articlemaindate { font-size: 1em;
		   color: #232342;
		   margin-top: 2em;}

pre {
    font-family: monospace;
    padding: 1em;
    color: #444;
    font-size: 0.7em;
    background-color: #eee;
    line-height: 1.9em;
}
#hrfooter { width: 100%;
	    height: 1px;
	    border: none;
	    border-top: 1px #333 solid;
	    margin-top: 3em;}

#mainlogo { width: 150px;
	    display:block;
	    margin: 1em auto;}

#menubutton { display: block; width: 40px; float: right; margin-top: 5px;}
#closemenu { width: 40px; float: right;}

#imgcontainer { margin: auto; width: 90vw; 
		padding-top: 1em; vertical-align: top;}
.cover {
    margin: auto; display: block; width: 100%; max-width: 300px;
}
.banner {
    width: 100%; display: block;
}
.thumb {
    max-width: 300px;
    max-height: 300px;
    width: 90vw;
    height: auto;
    display: inline-block;
/*    border: 1px solid #333;*/
    margin: 0.1em;
}
#showimage { position: fixed;
	     background-color: rgba(10,10,10,0.8);
	     width: 100vw;
	     height: 100vh;
	     display: block; top:0; left:0;}
#imgbig { max-width: 100%; max-height: 100%; width: auto; height: auto; display: block;margin: auto;   }
.hide { display: none !important; }

.banner { max-width: 650px;
	  width: 100%;
	  height: auto; }

dt { font-weight: bold; float: left; padding-right: 1em;}

.screenshot { width: 80%; height: auto; margin: 0.4em; margin: 0.5em auto; display: block;  }
.videowrapper { position: relative; height: 0; padding-bottom: 56.25%; padding-top: 30px;overflow: hidden;   }
.videowrapper > iframe { position: absolute; width: 100%; height: 100%; top: 0; left: 0; }

.card { width: 100%;  }
.cardimage { width: 100%; }
.cardtitle { font-weight: bold; }
.carddesc { display: block; width; 100%; text-align: right; font-size: 18px; }
@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
    #menubutton { display: none; }
    #nav { display: inline-block;
	   width: auto;
	   height: 100%;
	   padding: 0;
	   background-color: transparent; padding-right: 2em; }
    #nav > li { display: inline-block;
		width: auto;
		position: relative;
		border-bottom: 0;}
    #nav > li > a { padding: 0 1em; cursor: pointer;   }
    #nav > li:hover { background-color: #6f5858; }

    .navbar { background-color: #6f5858;
	      box-shadow: 3px 3px 3px 0px #b1aa9f;
	      position: absolute;
	      right: 0;
	      width: 300px;}
    .navbar > li { border-bottom: 2px solid #5d4c4c; }
    #nav > li:hover > .navbar { display: block !important; }
    .content { max-width: 650px; padding: 0; padding-right: 12%; }
    #footer { width: 650px; }
    #imgcontainer {  }
    #mainmenu { display: none; }
    #mainmenu + label { display: none !important; }
    .screenshot { width: 40%; max-width: 300px; display: inline-block; }
    .card { max-width: 300px; }
    .cardimage {  }
    .cardtitle { }
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }


#mainmenu {opacity: 0; width: 0; height: 0;}

#mainmenu + label {
    background-image: url("icons/menu.png");
    width: 50px;
    height: 50px;
    display: inline-block;
    line-height: 40px;
    float: right; 
}

#mainmenu:checked + label { background-image: url("icons/close.png");}

#mainmenu:checked + label + ul { display: block; }

